
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='row'>
<div class= 'col-md-12 col-md-offset-1'>



<h1>VISION</h1>
<h2>Somos una exitosa empresa detallista de bienes y servicios,
reconocida por su capacidad de generar bienestar para nuestros
clientes,colaboradores, accionistas, y nuestra comunidad en general.</h2>


<h1> MISION </h1>
<h2>satisfacer a nuestros clientes, brindándoles, al mejor precio posible,
productos y servicios de calidad, adecuados a sus necesidades y
exceder sus expectativas, sirviéndoles con esmero, originalidad, y atención a los detalles.</h2>





{% endblock %}
